@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
    background-color: rgb(16, 57, 93);
    font-family: 'Itim', sans-serif;
}

h2, h3 {
    border: solid black;
    background-color: beige;
}

.main-content {
    background-color: bisque;
    border: solid black;
}

.header {
    background-color: bisque;
    border: solid black;
    margin-bottom: 1em;
}

.navigation {
    list-style-type: none;
    margin: 1 0 0 0;
    padding: 0;
    background-color: rgb(219, 130, 13);
    border: solid black;
    text-align: center;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: block;
    padding: 0 2em 0 2em;
}

.navigation a:hover {
    background-color: rgb(120, 139, 133);
    border: dotted black;
    text-align: center;
}

.feature1, .feature2{
    background-color: rgb(204, 134, 30);
    text-align: center;
}

/*#region mediaQuerys*/
@media screen and (min-width:30em) {
    .navigation {
        display: flex;
    }
}

@media screen and (min-width: 37.5em) {
    .main-content {
        width: 90%;
        margin: 0 auto;
    }

    body{
        margin-top: 1em;
    }

    h2{
        width: 90%;
        margin-left: 1em;
        text-align: center;
    }

    h3 {
        width: 50%;
        margin-left: 10em;
        text-align: center;
    }

    h1{
        width: 50%;
        text-align: left;
    }

    .feature1 .feature2{
       width: 50%;
       text-align: center;
    }
}
/*#endregion*/